@{
    Database db = new Database();
    List<User> users = db.LoadUser();
}
@model testt.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/thongtin.css" asp-append-version="true">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
</head>
<body>
    <div class="container">
        <div class="Button">
            <div class="btn">
                <input type="button" name="" id="btn_add" value="Add">
            </div>
            <div class="btn">
                <input type="button" name="" id="btn_edit" value="Edit">
            </div>
            <div class="btn">
                <input type="button" name="" id="btn_remove" value="Remove">
            </div>
        </div>
        <main class="main">
            <div class="main__TbInfor">
                <table class="information">
                    <thead class="information__header">
                        <tr class="trHeader">
                            <th class="select"><input type="checkbox" name="" id=""></th>
                            <th class="id">Id</th>
                            <th class="name">Tên Khách Hàng</th>
                            <th class="email">Email</th>
                            <th class="contact">Liên hệ</th>
                            <th class="status">Trạng thái</th>
                            <th class="address">Địa chỉ</th>
                            <th class="sex">Giới tính</th>
                            <th></th>
                        </tr>
                        <tr class="trsearch">
                            <th></th>
                            <th></th>
                            <th><input type="text" name="" id="searchname" placeholder="Search..."></th>
                            <th><input type="text" name="" id="searchcontact" placeholder="Search..."></th>
                            <th><input type="text" name="" id="searchemail" placeholder="Search..."></th>
                            <th>
                                <select name="" id="">
                                    <option value="" selected></option>
                                    <option value="dathue">Đã thuê</option>
                                    <option value="chuathue">Chưa thuê</option>
                                </select>
                            </th>
                            <th><input type="text" name="" id="searchaddress" placeholder="Search..."></th>
                            <th></th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody class="information__body">
                        @foreach (var user in users)
                        {
                            <tr class="trBody">
                                <td></td>
                                <td>@user.ID</td>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>@user.Phone</td>
                                <td>@user.Status</td>
                                <td>@user.Address</td>
                                <td>@user.Sex</td>
                                <td class="showedit">
                                    <a href="@Url.Action("suathongtin", "Home", new { id = user.ID })" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                </td>
                                <td class="showremove">
                                    <a href="@Url.Action("DeleteUser", "Home", new { id = user.ID })" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <div class="PageAdd">
        <div class="PageAdd_content">
            <span class="close-button" onclick="dongCuaSo()">&times;</span>
            <h1>Thêm Khách Hàng Tiềm Năng</h1>
            @using (Html.BeginForm("thongtin", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="username">Tên khách hàng:</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="form-group">
                    <label for="username">Email:</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="form-group">
                    <label for="username">Số điện thoại:</label>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>

                <div class="form-group">
                    <label for="username">Địa chỉ:</label>
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>

                <div class="form-group">
                    <label for="username">Giới tính:</label>
                    @Html.DropDownListFor(model => model.Sex, new SelectList(new List<string> { "Nam", "Nữ"}), new { @class = "form-input" })
                </div>
                <button type="submit" class="submit-button">Thêm Khách Hàng</button>
            }
        </div>
    </div>
    

    <script>
        $(document).ready(function () {
            @* function dongCuaSo() {
            var container = document.querySelector(".PageAdd");
            container.style.display = "none";
            } *@
            $('.close-button').click(function(){
                $('.PageAdd').css('display', 'none');
                $('.PageEdit').css('display', 'none');
            })
            $('#btn_add').click(function(){
                if ($('.PageAdd').css('display') === 'none'){
                    $('.PageAdd').css('display', 'block');
                }else{
                    $('.PageAdd').css('display', 'none');
                }
            })
            $("#btn_edit").click(function () {
                if ($(".showedit").css('display') === 'none') {
                    $(".showedit").css('display', 'block');
                    $(".showremove").css('display', 'none');
                } else {
                    $(".showedit").css('display', 'none');
                }
            });
            $("#btn_remove").click(function () {
                if ($(".showremove").css('display') === 'none') {
                    $(".showremove").css('display', 'block');
                    $(".showedit").css('display', 'none');
                } else {
                    $(".showremove").css('display', 'none');
                }
            });
            @*$('.showedit').click(function () {
                if ($('.PageEdit').css('display') === 'none') {
                    $('.PageEdit').css('display', 'block');
                } else {
                    $('.PageEdit').css('display', 'none');
                }
            })*@
            

        });
    </script>
</body>
</html>